@keyframes funyafunya {
    from {
        border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
    }

    12.5% {
        border-radius: 80% 30% 50% 50%/50%;
    }

    25% {
        border-radius: 40% 40% 50%/30% 50% 50%;
    }

    37.5% {
        border-radius: 20% 30% 56% 70%/80% 50% 70% 20%;
    }

    50% {
        border-radius: 5%;
    }

    62.5% {
        border-radius: 3%;
    }

    75% {
        border-radius: 2%;
    }

    86.5% {
        border-radius: 1%;
    }

    to {
        border-radius: 0;
    }
}
